
.container {
    max-width: 110rem;
    min-height: 110rem;
    margin: 4vw auto;
    background-color: $color-white;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 2rem 6rem .5rem rgba($color-grey-dark-1, .2);

    display: grid;
    grid-template-rows: 10rem minmax(100rem, auto);
    grid-template-columns: minmax(30%, 1fr) minmax(70%, 2fr);
    grid-template-areas:
    'head head'
    'list recipe';

    @media screen and (max-width: $bp-medium) {
        max-width: 100%;
        margin: 0;
        grid-template-rows: 10rem 1fr 2fr;
        grid-template-areas:
        'head head'
        'list list' 
        'recipe recipe';
    }
}